<div class="header">
    <nav class="navbar navbar-light bg-light ">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png"
            class="d-inline-block align-top" alt="">
    </nav>

   
</div>