@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');


.pokemon-grid {
    display: grid;
    grid-gap: 16px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));

}

.pokemon-grid .box{
    width: 100%;
    height: 300px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    display: grid;
    text-align: center;
}


.pokemon-grid .box img{
    max-width: 100px;
    display: block;
    margin: 0 auto;

}

pagination-controls{
    text-align: center;
}

h2{
    text-align: center;
    padding: 20px;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 36px;

}
img{
    max-width: 100%;

}
h3{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.6;
}
h5{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;

}
p.card-text{
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px;


}


.card-columns {
    column-count: 5;
}


@media (min-width: 20em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

.card-header h4{
    color: brown;
    text-transform: uppercase;
    margin: 0 auto;
    display: table;
}

