<div class="pokemon-grid">
    <div class="card-columns">

        <div class="card shadow rounded border-info"
            *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons }">

            <div *ngIf="pokemonFavorito !== undefined && pokemonFavorito === pokemon.name">
                <div class="card-header bg-success  text-white">
                    <h4>{{ pokemon.name }}</h4>
                </div>
            </div>


            <div *ngIf="pokemonFavorito === undefined || pokemonFavorito !== pokemon.name">
                <div class="card-header bg-warning  text-white">
                    <h4>{{ pokemon.name }}</h4>
                </div>
            </div>



            <div class="card-body text-center">
                <img [src]="pokemon.sprites.front_default" alt="pokemon">
                <p>
                    <span class="badge badge-danger"> {{ pokemon.types[0].type.name }}</span>
                </p>


                <p>
                    <b>Attack Power: </b> {{ pokemon.stats[1].base_stat }}
                </p>

                <p>
                    <b>Defense: </b> {{ pokemon.stats[2].base_stat }}
                </p>

                <p>
                    <b>Speed: </b> {{ pokemon.stats[5].base_stat }}
                </p>




                <div *ngIf="pokemonFavorito !== undefined && pokemonFavorito === pokemon.name">
                    <span class="badge badge-success">Pokemon Favorito</span>

                </div>

                <div *ngIf="pokemonFavorito === undefined || pokemonFavorito !== pokemon.name">
                    <button (click)="onClickFavoritar(pokemon.id, pokemon.name)"
                        class="badge badge-info">Favoritar</button>
                    <!-- Conteúdo 1 aqui -->
                </div>






            </div>
        </div>

    </div>
</div>



<pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()" previousLabel="Anterior"
    nextLabel="Próximo"></pagination-controls>