/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  background: #fff url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png)
}


*{
    padding: 0;
}
